.examen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.timer {
    font-size: 1.2rem;
    font-weight: 700;
    color: #dc3545; /* Rojo */
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.pregunta-container .card-header {
    background-color: #e9ecef;
}